 @import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  background: #2C2F33 url(https://discordapp.com/assets/530280c4e76a27a6dd43c0ecabb96e7d.png) fixed;
  color: #FFF;
  padding-bottom: 1rem;
}

#login-container {
    background-color: #7289DA;
    border-radius: 7px;
    height: 45%;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-banner {
    margin-left: 20px;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 1.5em;
}

input {
    border: none;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 3px;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-size: 1.3em;
}

label {
    font-weight: bolder;
    font-size: 0.9em;
}

button {
    background-color: #7289DA;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    opacity: 0.9;
}

a {
    color: #7289DA;
    margin: 0 0 !important;
    width: auto !important;
}

span.tiny {
    font-size: 0.75em;
    color: #99AAB5;
}

#login-form {
    background-color: #23272A;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-top: 5%;
    height: 100%;
}

#login-form * {
    width: 75%;
    margin: 5px 10.5%;
}