* {
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
  -moz-user-select: -moz-auto;
  -moz-user-select: auto;
  -o-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

#connection-problems a {
  color: #7289DA;
}

#connection-problems {
  color: #FFF;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

html, body {
  background: #2C2F33;
  color: #FFF;
  padding-bottom: 1rem;
}

body {
  z-index: -1;
}

#messages {
  min-height: 50px;
  float: left;
  width: calc(100% - 150px);
  padding-left: 250px;
  padding-bottom: 2rem;
  height: calc(100vh - 1rem);
  overflow-y: auto;
}
#messages .message  {
  padding-top: 50px;
  padding-left: 50px;
  margin-left: 1000px;
  background: #383c41;
  border: solid 1px #23272A;
  margin: 0.5rem;
  border-radius: 0.15rem;
  padding: 0.2rem;

  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
}

img {
  display: block;
  background-image: url(http://i.imgur.com/8YsAmq3.gif);
  background-position: center center;
}

img.emoji {
  background: none;
  height: 22px;
  width: 22px;
  white-space: nowrap;
  display: inline;
  vertical-align: top;
}

#messages .message .message-inner {
  margin-left: 50px;
}

#messages .message .username {
  margin: 0;
  font-weight: normal;
  font-size: 1.1rem;
}
#messages .message .message-inner .content {
  line-height: 1.5;
  margin: 0.5rem 0 0;
}

#channel-container {
  position: absolute;
  margin-left: 50px;
  height: 100vh;
  overflow-y: auto;
  width: 200px;
  float: left;
  background-color: #303338;
}

#member-list {
  position: relative;
  float: right;
  margin-left: 50px;
  height: 100%;
  margin-top: 0px;
  overflow-y: auto;
  width: 150px;
  margin: 0 0;
  background-color: #303338;
}

img.member-list-avatar {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  float: left;
  white-space: nowrap;
  display: inline;
  vertical-align: top;
}

h2.member-list-username {
  font-size: 1em;
  margin-left: 5px;
  font-weight: bolder;
}

#messages .message .message-inner .images img {
    max-width: 60%;
}

.twemoji-textarea {
  color: inherit;
  border: solid 1px #23272A;
  padding: 0.5rem;
  padding-right: 50px;
  background-color: #383c41;
}

.twemoji-picker-category .active {
  border-bottom: 0px;
  opacity: 0.8;
}

.twemoji-picker-category .close {
  display: none;
}

.twemoji-picker-category span:hover {
  border-bottom: 0px;
  opacity: 0.9;
}

.twemoji-picker {
  background-color: #23272A; 
  border-color: #23272A;
}

.twemoji-icon-picker img.emoji {
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.twemoji-icon-picker img.emoji:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.twemoji-list span img.emoji:hover {
  background-color: #23273A;
  border-radius: 2px;
}

.twemoji-picker-category {
  background-color: #23272A;
}

.twemoji-list {
  width: 100% !important;
  background-color: #383c41;
}

#message-input {
  display: block;
  color: inherit;
  border: solid 1px #23272A;
  padding: 0.5rem;
  background-color: #383c41;
  margin: 0.5rem 0.5rem 0.5rem;
  width: calc(100% - 254px - 1rem);
  position: fixed;
  bottom: 0;
  border-radius: 3px;
}

.message-input-wrap {
  position: fixed;
  float: bottom;
  bottom: 0;
  height: 3rem;
  width: 100%;
  margin: 0.5rem 1rem 0 250px;
  background-color: #303338;
}

#server-list .server-icon .server-image {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.jumbotxt {
  font-size: 1.5em !important;
}

#server-list {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #303338;
}

#server-list .server-icon {
  margin-top: 10px;
}

body {
  margin-top: 0px;
}

#server-list .server-icon .server-image:hover {
  filter: blur(4);
}

.change-message {
    color: lightgray;
}

.avatar {
  position: absoloute;
  float: left;
  border-radius: 40px;
  height: 40px;
  width: 40px;  
}

#loading-landing {
  height: 100%;
  width: 100%;
  background-color: #2C2F33;
  z-index: 1000;
  position: absolute;    
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#loading-image {
  height: auto;
  width: auto;
  max-width: 15%;
  max-height: 15%;
  background-image: none;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#loading-line {
  font-weight: thin;
  position: fixed;
  top: 65%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}