* {
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menubar {
  -webkit-app-region: drag;
}

#menubar button {
  -webkit-app-region: no-drag;
}

#content {
  height: 100%;
}

.electron #content {
  padding-top: 29px;
}

#electron-titlebar > .button img {
  background-image: none;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#electron-titlebar {
  z-index: 9999;
}

.embed {
  padding-bottom: 1px;
  max-width: 65%;
  width: auto;
  background-color: #23272A;
  border-radius: 5px;
  position: relative;
  font-size: 0.75em;
  margin-right: 0;
  padding-right: 0;
}

.embed img {
  border-radius: 5px;
}

.embed .title {
  width: auto;
  display: inline;
  font-size: 1.2em;
  font-weight: 800;
}

.embed .embed-thumbnail {
  margin: 10px;
  max-height: 100px;
  max-width: 15%;
  float: right;
  display: block;
}

.embed .embed-image {
  display: inline;
  max-width: 85%;
}

.selectable, .message-inner .content, .message-inner .content * {
  -moz-user-select: -moz-auto;
  -moz-user-select: auto;
  -o-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

a {
  color: #0096cf;
  text-decoration: none;
}

#connection-problems a {
  color: #7289DA;
}

#connection-problems {
  color: #FFF;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

html, body {
  overflow-y: hidden;
  background: #2C2F33;
  color: #EEE;
  padding-bottom: 1rem;
}

underline {
  text-decoration: underline;
}

code {
  background-color: #303338;
  color: #CCC;
  padding: 2px 4px;
  border-radius: 3px;
}

body {
  z-index: -1;
}

.modal * {
  color: #000;
}

.codeblock {
  background-color: #303338 !important;
  border-radius: 4px;
  border: solid #26292e;
  border-width: 2px;
  display: block;
}

.modal button {
  color: #FFF;
}

#display-invite-modal .lead, #display-invite-modal .lead * {
  margin: 10px auto;
}

#display-invite-modal .subheading {
  font-size: 0.85em;
  display: block;
  padding-bottom: 10px;
}

#display-invite-modal #invite-text {
  color: #7289DA;
  font-size: 2em;
  padding: 0 5%;
  text-align: center;
  border-radius: 5px;
  border: solid #EEE 2px;
  overflow-x: scroll;
  display: block;
  width: 100%;
}

#messages {
  min-height: 50px;
  float: left;
  width: calc(100% - 150px);
  padding-left: 250px;
  height: calc(100% - 1rem);
  overflow-y: auto;
}
#messages .message  {
  padding-top: 50px;
  padding-left: 50px;
  margin-left: 1000px;
  background: #383c41;
  border: solid 1px #23272A;
  margin: 0.5rem;
  border-radius: 0.15rem;
  padding: 0.2rem;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

img {
  display: block;
  background-image: url(http://i.imgur.com/8YsAmq3.gif); /* TODO: Selfhost this or a similar loading image instead of spamming imgur */
  background-position: center center;
}

img.emoji {
  background: none;
  height: 22px;
  width: 22px;
  white-space: nowrap;
  display: inline;
  vertical-align: top;
}

#messages .message .message-inner {
  margin-left: 50px;
}

.voice-user.voice-speaking .voice-avatar {
  border: 2px solid #35bb38;
}

.voice-user {
  height: 25px;
}

.voice-user .voice-avatar {
  height: 25px;
  width: 25px;
  float: left;
  background-size: 25px;
  background-clip: padding-box;
  position: relative;
  background-color: none;
  background-position: 50%;
  border-radius: 50%;
  white-space: nowrap;
  display: inline;
  vertical-align: top;
}

.voice-user .voice-username {
  display: inline;
  font-size: 0.75em;
}

.voice-user .status-icons::before {
  float: right;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.voice-user.voice-mute .status-icons::before {
  content: "\f131";
}

.voice-user.voice-deaf .status-icons::before {
  content: "\f026";
}

.voice-user.voice-mute.voice-deaf .status-icons::before {
  content: "\f026 \f131";
}

#messages .message .username {
  margin: 0;
  font-weight: normal;
  font-size: 1.1rem;
}
#messages .message .message-inner .content {
  line-height: 1.5;
  margin: 0.5rem 0 0;
  white-space: pre-wrap;
  color: #EEE;
}

#channel-container {
  position: absolute;
  margin-left: 50px;
  height: 100%;
  overflow-y: auto;
  width: 200px;
  float: left;
  background-color: #303338;
}

.electron #channel-container {
  height: calc(100% - 29px);
}

#right-bar {
  position: relative;
  float: right;
  margin-left: 50px;
  height: 100%;
  z-index: 1;
  margin-top: 0px;
  overflow-y: clip;
  width: 150px;
  margin: 0 0;
  background-color: #303338;
}

#member-list {
  height: calc(100% - 70px);
  margin-top: 0px;
  overflow-y: auto;
}

input[type="file"] {
  display: none;
}

label[for="create-server"] {
  font-weight: bolder;
  font-size: 0.5em;
  color: #B0B0B0;
}

button {
  width: 100%;
  background-color: #7289DA;
  color: #FFF;
  margin-top: 20px;
  font-size: 2em;
  border-radius: 3px;
  border: none;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #7289DA;
  padding-bottom: 3px;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  font-size: 1.3em;
  width: 100%;
}

label[for="file-upload"], label[for="avatar-upload"] {
  display: block;
  height: 25px;
  text-align: center;
  background-color: #7289DA;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  color: #FFF;
}

.git-revision {
  font-weight: thin;
  color: #bbb;
  height: 1em;
  width: calc(100% - 10px);
  z-index: 1001;
  text-align: right;
  display: block;
  position: absolute;
  bottom: 1px;
}

.member-list-avatar {
  height: 25px;
  width: 25px;
  float: left;
  background-size: 25px;
  background-clip: padding-box;
  position: relative;
  background-color: none;
  background-position: 50%;
  border-radius: 50%;
  white-space: nowrap;
  display: inline;
  vertical-align: top;
}

.status {
  bottom: -1px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
}

.status-online {
  background-color: #35bb38;
}

.status-offline {
  background-color: #555;
}

.status-idle {
  background-color: #ffeb00;
}

.status-dnd {
  background-color: #D00;
}

h2.member-list-username {
  font-size: 1em;
  margin-left: 5px;
  font-weight: bolder;
}

#messages .message .message-inner .images * {
  max-width: 60%;
}

#messages .message .message-inner .images iframe {
  max-width: 80%;
}

time {
  color: #636c72;
}

.twemoji-textarea {
  color: inherit;
  border: solid 1px #23272A;
  padding: 0.5rem;
  padding-right: 50px;
  background-color: #383c41;
}

.twemoji-picker-category .active {
  border-bottom: 0px;
  opacity: 0.8;
}

.twemoji-picker-category .close {
  display: none;
}

.twemoji-picker-category span:hover {
  border-bottom: 0px;
  opacity: 0.9;
}

.twemoji-picker {
  background-color: #23272A;
  border-color: #23272A;
}

.twemoji-icon-picker img.emoji {
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.twemoji-icon-picker img.emoji:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.twemoji-list span img.emoji:hover {
  background-color: #23273A;
  border-radius: 2px;
}

.twemoji-picker-category {
  background-color: #23272A;
}

.twemoji-list {
  width: 100% !important;
  background-color: #383c41;
}

#message-input {
  display: block;
  color: inherit;
  border: solid 1px #23272A;
  padding: 0.5rem;
  background-color: #383c41;
  margin: 0.5rem 0.5rem 0.5rem;
  width: calc(100% - 254px - 1rem);
  position: fixed;
  bottom: 0;
  border-radius: 3px;
}

.message-input-wrap {
  position: fixed;
  float: bottom;
  bottom: 0;
  height: 3rem;
  width: calc(((100% - 254px) - 1rem) - 150px);
  margin: 0.5rem 1rem 0 250px;
  background-color: #303338;
}

#server-list .server-icon .server-image {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.jumbotxt {
  font-size: 1.5em !important;
}

#server-list {
  position: fixed;
  height: 100%;
  overflow-y: auto;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #303338;
}

.electron #server-list {
  height: calc(100% - 29px);
}

#server-list .server-icon {
  margin-top: 10px;
}

body {
  margin-top: 0px;
}

#server-list .server-icon .server-image:hover {
  filter: blur(4);
}

.change-message {
    color: lightgray;
}

.avatar {
  position: absoloute;
  float: left;
  border-radius: 40px;
  height: 40px;
  width: 40px;
}

#typing-indicator {
  z-index: 5;
  transform: translate(0, -17px);
  position: absolute;
  border-radius: 4px;
  background-color: #303338;
  padding: 0 10px;
  font-size: 0.5em;
}

#loading-landing {
  height: 100%;
  width: 100%;
  background-color: #2C2F33;
  z-index: 1000;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  -webkit-app-region: drag;
}

#loading-landing * {
  -webkit-app-region: drag;
}

#loading-image {
  height: auto;
  width: auto;
  max-width: 15%;
  max-height: 15%;
  background-image: none;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#loading-line {
  font-weight: thin;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
